[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
beautifulsoup4 = "*"
requests = "*"
#datapackage = "*"
#tables = "*"
#fuzzywuzzy = "*"
#python-Levenshtein = "*"
googlemaps = "*"
google-auth = "*"
#gspread = "*"
pygsheets = "*"

[dev-packages]

[requires]
python_version = "3.7"
