# preserved for backwards compatability of jupyter runtime environments only
# DO NOT USE - the Pipfile is the definitive source
# recreate using: pip freeze > requirements.txt
appnope==0.1.0
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach>=3.3.0
cachetools==3.1.0
cchardet==2.1.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorlover==0.3.0
cufflinks==0.15
cycler==0.10.0
datapackage==1.5.1
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
et-xmlfile==1.0.1
fuzzywuzzy==0.17.0
geojson==2.4.1
geonames==0.1.3
gmaps==0.8.4
google==2.0.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
googlemaps==3.0.2
gspread==3.1.0
httplib2>=0.19.0
idna==2.8
ijson==2.3
ipykernel==5.1.0
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
jdcal==1.4
jedi==0.13.3
jinja2>=2.11.3
jsonlines==1.2.0
jsonpointer==1.14
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.1.0
linear-tsv==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
nbconvert==6.3.0
nbformat==4.4.0
nose==1.3.7
notebook>=5.7.8
numexpr==2.6.9
numpy==1.16.3
oauthlib==3.0.1
openpyxl==2.4.11
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
plotly==3.8.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
Pygments==2.3.1
pygsheets==2.0.1
pyparsing==2.4.0
pyrsistent==0.15.1
python-dateutil==2.8.0
python-Levenshtein==0.12.0
pytz==2019.1
pyzmq==18.0.1
requests==2.21.0
requests-oauthlib==1.2.0
retrying==1.3.3
rfc3986==1.2.0
rsa>=4.1
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
soupsieve==1.9.1
#SQLAlchemy==1.2.15
tables==3.4.4
tableschema==1.3.0
tabulator==1.19.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.2
traitlets==4.3.2
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
xlrd==1.2.0

